<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/computer_background.jpeg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Mark Data Consulting</h1>
            <h3>Delight Customer Experience</h3>
            <br />
            <!--<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a>
            <button type="button" class="btn btn-outline-neutral btn-round">Download</button>
        --></div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">Let's talk Product</h2>
                <h5 class="description">
                    We provide software development and maintenance services to our clients. We deal in building complex data products like Market Data processing systems. We deal in hybrid cloud management applications through which clients can handle their existing cloud services from one platform.<br>
                    We use latest technologies like Angular 9, Microservices, AWS, Kubernetes, Spring Boot for Application development.
                </h5>
                <br>
                <!--<a href="#paper-kit" class="btn btn-danger btn-round">See Details</a>-->
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-cloud-upload-94"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Cloud Services</h4>
                        <p class="description">Cloud based app development on cloud providers on AWS, Azure, GCP. Our experts in cloud domain can help you in latest technologies like Alexa skills, Serverless Architectures.</p>
                        <!--<a href="#pkp" class="btn btn-link btn-danger">See more</a>-->
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-bulb-63"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Consulting</h4>
                        <p>We provide software consulting to our clients for their existing and new products. Our experts will help you in taking the right decision for your product.</p>
                        <!--<a href="#pkp" class="btn btn-link btn-danger">See more</a>-->
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-app"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Application Design and Development</h4>
                        <p>We provide end to end solutions from designing a application till delivering it and maintenance of the application.</p>
                        <!--<a href="#pkp" class="btn btn-link btn-danger">See more</a>-->
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-support-17"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Support</h4>
                        <p>We provide 24*7 support to our clients. If there is any critical bug we have a turnaround time of 4hours.</p>
                        <!--<a href="#pkp" class="btn btn-link btn-danger">See more</a>-->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">Let's talk About us</h2>
        <div class="row">
            <h5 class="description">Our team is working in IT industry for more than 6years and our main goal is to delight the customer experience.

                We have a team of experts who are experts in Cloud and Application Development. Our Designers and Developers had worked in MNCs like Accenture, HPE, GE Digital, EnerNOC. Also, we strive to work on latest technologies like Alexa skills, AWS Serverless Architectures, AI/ML products. Our team have AWS certified Solution Architects and Developers.
                We follow SAFE agile methodology in Software Development Lifecycle.

                We are working on complex real time trading products and cloud service automation products. Our current clients are located in London and Santa Clara</h5>
            <br>
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/logo/Aspect_Logo.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Aspect Enterprise Solutions</h4>
                                <h6 class="card-category">CTRM Product Company</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            Aspect Enterprise Solutions is the leading global provider of cloud commodity trade, risk management and market data solutions.<br>
                            We offer Aspect, Solution Architect and Development services for their Decision Support System product.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="https://twitter.com/aspectentsol" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/company/aspect-enterprise-solutions" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/logo/ION_Logo.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Ion Group</h4>
                                <h6 class="card-category">Trading Company</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            ION software helps you improve decision-making, increase efficiency, simplify complex processes and empower your people.<br>
                            We provide CTRM software based services to ION Group.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="https://twitter.com/iongroup" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/company/iongroup" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/logo/MF_Logo.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Micro Focus</h4>
                                <h6 class="card-category">Cloud Based Application Company</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            Micro Focus help you run and transform your business. Driven by customer-centric innovation, our software provides the critical tools you need to build, operate, secure, and analyze the enterprise. <br>
                            We provide Cloud Based Software design and development services to Micro Focus.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="https://twitter.com/microfocus" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/company/micro-focus" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Keep in touch?</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" [formControl]="name" required class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" [formControl]="email" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea [formControl]="message" class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div *ngIf="name.invalid && (name.dirty || name.touched)"
                             class="alert alert-danger">

                            <div *ngIf="name.errors.required">
                                Name is required.
                            </div>
                        </div>
                        <div *ngIf="email.invalid && (email.dirty || email.touched)"
                             class="alert alert-danger">

                            <div *ngIf="email.errors.required">
                                Email is required.
                            </div>
                            <div *ngIf="email.errors.email">
                                Invalid email address.
                            </div>
                        </div>
                        <div *ngIf="message.invalid && (message.dirty || message.touched)"
                             class="alert alert-danger">

                            <div *ngIf="message.errors.required">
                                Message is required.
                            </div>
                            <div *ngIf="message.errors.minlength">
                                Message must be at least 10 characters long.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button disabled='{{checkErrors()}}' class="btn btn-danger btn-lg btn-fill" (click)="check() || sendMessage() || open()">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
